:root {
  --background-color: #f5f5f5;
  --header-logo-color: #000000;
  --footer-logo-color: #ffffff;
  --headlines-links-color: #212121;
  --second-links-color: #2196f3;
  --hero-button-hover: #188ce8;
  --text-main-color: #757575;
  --hero-background-color: #c4c4c4;
  --just-white-color: #ffffff;
  --team-background-color: #f5f4fa;
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
  --header-frame-color: #ececec;
  --example-frame-color: #eeeeee;
  --hero-overlay-color: #2f303a66;
  --team-media-color: #afb1b8;
  --footer-background-color: #2f303a;
  --footer-media-base: rgba(255, 255, 255, 0.1);
  --portfolio-example-overlay: rgba(33, 150, 243, 0.9);
  --business-background-color: rgba(47, 48, 58, 0.8);
  --backdrop-background-color: rgba(0, 0, 0, 0.2);
  --modal-bottom-color: rgba(0, 0, 0, 0.1);
  --modal-input-color: rgba(33, 33, 33, 0.2);
  --modal-comment-placeholder: rgba(117, 117, 117, 0.5);
}

/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -moz-tab-size: 4; /* 3 */
  -o-tab-size: 4;
     tab-size: 4; /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0; /* 1 */
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji"; /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

ul {
  margin: 0px;
  padding-left: 0px;
}

.list {
  list-style-type: none;
}

.header-logo,
.link,
.number,
.footer-logo,
.post-address {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  padding-top: 80px;
  color: var(--text-main-color);
  background-color: var(--background-color);
}

.header,
.peculiarities,
.business,
.team-list,
.portfolio {
  background-color: var(--just-white-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

section {
  padding: 94px 0px;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0px 15px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  border-bottom: 1px solid var(--header-frame-color);
}

.header-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-nav,
.header-list,
.header-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-contacts {
  margin-left: auto;
}

.header-logo,
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--header-logo-color);
}

.header-logo {
  margin-right: 93px;
}

.web {
  color: var(--second-links-color);
}

.header-list .link {
  display: block;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding: 32px 0px;
  color: var(--headlines-links-color);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-list .header-links + .header-links,
.header-contacts li + li {
  margin-left: 50px;
}

.header-contacts .number {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding: 32px 0px;
  color: var(--text-main-color);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.number > .icon {
  fill: currentColor;
  margin-right: 10px;
}

.header-list .link:hover,
.header-contacts .number:hover,
.header-list .link:focus,
.header-contacts .number:focus {
  color: var(--second-links-color);
}

.header-list .current {
  color: var(--second-links-color);
}

.header-links {
  position: relative;
}

.link.current::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--second-links-color);
}

.hero {
  text-align: center;
  margin: 0 auto;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: -webkit-gradient(linear, left top, right top, from(var(--hero-overlay-color)), to(var(--hero-overlay-color))), url(../images/our-team.jpg);
  background-image: linear-gradient(to right, var(--hero-overlay-color), var(--hero-overlay-color)), url(../images/our-team.jpg);
  max-width: 1600px;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--hero-background-color);
}

.hero-headline {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--just-white-color);
}

.hero-button {
  width: 216px;
  height: 50px;
  border-radius: 4px;
  border: 1px solid transparent;
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--just-white-color);
  background-color: var(--second-links-color);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--hero-button-hover);
}

.peculiarities-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.peculiarities-list > li {
  width: calc((100% - 90px) / 4);
}

.peculiarities-list li + li {
  margin-left: 30px;
}

.pec-list-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 120px;
  margin-bottom: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--team-background-color);
}

.pec-list-headlines {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--headlines-links-color);
}

.pec-list-text {
  line-height: 1.71;
}

.business {
  padding-top: 0px;
  text-align: center;
}

.business-list,
.team-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.business-list li + li,
.team-list li + li,
.clients-list li + li {
  margin-left: 30px;
}

.business-list .business-list-img {
  position: relative;
  width: calc((100% - 60px) / 3);
}

.business-note {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  left: 0;
  bottom: 0;
  height: 70px;
  width: 100%;
  background-color: var(--business-background-color);
}

.business-list p {
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
  color: var(--just-white-color);
}

.business-headline,
.team-headline {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--headlines-links-color);
}

.our-team,
.team-list {
  text-align: center;
  background-color: var(--team-background-color);
}

.team-list-item {
  width: calc((100% - 90px) / 4);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--just-white-color);
}

.team-members-description {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-member {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--headlines-links-color);
}

.team-member-position {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.soc-media {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.icon-team {
  fill: var(--team-media-color);
}

.soc-media-team .icon-team {
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.soc-media-team:hover,
.soc-media-team:focus {
  background-color: var(--second-links-color);
}

.soc-media-team:hover .icon-team,
.soc-media-team:focus .icon-team {
  fill: var(--just-white-color);
}

.clients {
  text-align: center;
  background-color: var(--just-white-color);
}

.clients-headline {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--headlines-links-color);
}

.clients-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.clients-list li {
  width: calc((100% - 150px) / 6);
}

.clients-list-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 92px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: 1px solid var(--team-media-color);
  border-radius: 4px;
}

.clients-list-img {
  fill: var(--team-media-color);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list-link:hover,
.clients-list-link:focus {
  border: 1px solid var(--second-links-color);
}

.clients-list-link:hover .clients-list-img,
.clients-list-link:focus .clients-list-img {
  fill: var(--second-links-color);
}

.filter-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.filter-list li + li {
  margin-left: 8px;
}

.filter-button {
  padding: 6px 22px;
  border: 1px solid transparent;
  border-radius: 4px;
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  color: var(--headlines-links-color);
  background-color: var(--team-background-color);
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-button:hover,
.filter-button:focus {
  color: var(--just-white-color);
  background-color: var(--second-links-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.examples-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.examples-list li:not(:nth-child(3n+1)) {
  margin-left: 30px;
}

.examples-list li:not(:nth-last-child(-n+3)) {
  margin-bottom: 30px;
}

.examples-list .description {
  padding: 20px 0 20px 24px;
  border-right: 1px solid var(--example-frame-color);
  border-bottom: 1px solid var(--example-frame-color);
  border-left: 1px solid var(--example-frame-color);
}

.examples-description {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--headlines-links-color);
}

.ex-list-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--text-main-color);
}

.example {
  display: block;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.example:hover,
.example:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.example-thumb {
  position: relative;
  overflow: hidden;
}

.example-overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 24px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: auto;
  font-size: 18px;
  line-height: 1.56;
  color: var(--just-white-color);
  background-color: var(--portfolio-example-overlay);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.example:hover .example-overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.footer {
  padding: 60px 0px;
  background-color: var(--footer-background-color);
}

.container.ftr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.footer-logo {
  display: block;
  width: 145px;
  margin-bottom: 20px;
  color: var(--just-white-color);
}

.post-address {
  font-style: normal;
  line-height: 1.71;
  color: var(--just-white-color);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo-contacts {
  display: block;
  width: 231px;
  margin-right: 70px;
}

.footer-contacts .number {
  font-style: normal;
  line-height: 1.71;
  color: var(--footer-contacts-color);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-contacts li + li {
  margin-top: 9px;
}

.post-address:hover,
.footer-contacts .number:hover,
.post-address:focus,
.footer-contacts .number:focus {
  color: var(--second-links-color);
}

.join,
.subscribe-headline {
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--just-white-color);
}

/* .social-media {
      margin-right: 93px;
    } */
.soc-media li + li {
  margin-left: 10px;
}

.soc-media-team,
.soc-media-ftr {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.soc-media-ftr {
  background-color: var(--footer-media-base);
}

.soc-media-ftr:hover,
.soc-media-ftr:focus {
  background-color: var(--second-links-color);
}

.icon-footer {
  fill: var(--just-white-color);
}

.subscribe {
  margin-left: auto;
  margin-right: 0;
}

.footer-email-form {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.input-subscribe-email {
  width: 358px;
  height: 50px;
  margin-right: 12px;
  padding-left: 16px;
  color: var(--just-white-color);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.label-subscribe-email {
  position: absolute;
  top: 50%;
  left: 16px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 16px;
  line-height: 1.25;
  color: var(--footer-contacts-color);
}

.subscribe-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: transparent;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--just-white-color);
  background-color: var(--second-links-color);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-button svg {
  margin-left: 10px;
  fill: var(--just-white-color);
}

.input-subscribe-email:not(:-moz-placeholder-shown) + .label-subscribe-email {
  opacity: 0;
}

.input-subscribe-email:not(:-ms-input-placeholder) + .label-subscribe-email {
  opacity: 0;
}

.input-subscribe-email:not(:placeholder-shown) + .label-subscribe-email {
  opacity: 0;
}

.subscribe-button:hover,
.subscribe-button:focus {
  background-color: var(--hero-button-hover);
}

.backdrop {
  position: fixed;
  z-index: 15;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: var(--backdrop-background-color);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  width: 528px;
  height: 581px;
  padding: 40px;
  border-radius: 4px;
  opacity: 1;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: var(--just-white-color);
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.3);
          transform: translate(-50%, -50%) scale(0.3);
  opacity: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.modal-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 8px;
  right: 8px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid var(--modal-bottom-color);
  background-color: var(--just-white-color);
}

.icon-close {
  fill: var(--header-logo-color);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover .icon-close,
.modal-button:focus .icon-close {
  fill: var(--second-links-color);
}

.modal-headline {
  margin-bottom: 12px;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  color: var(--headlines-links-color);
}

.modal-label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.modal-input {
  position: relative;
  margin-bottom: 10px;
}

.modal-input > svg {
  position: absolute;
  top: 50%;
  left: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  fill: var(--headlines-links-color);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-contacts {
  width: 100%;
  height: 40px;
  padding: 0 0 0 42px;
  font-size: 16px;
  border: 1px solid var(--modal-input-color);
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-contacts:hover,
.modal-contacts:focus {
  outline: none;
  border: 1px solid var(--second-links-color);
}

.modal-contacts:hover + svg,
.modal-contacts:focus + svg {
  fill: var(--second-links-color);
}

.modal-comment {
  width: 100%;
  height: 120px;
  resize: none;
  padding: 12px 16px;
  margin-bottom: 20px;
  font-size: 12px;
  border: 1px solid var(--modal-input-color);
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-comment::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--modal-comment-placeholder);
}

.modal-comment::-moz-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--modal-comment-placeholder);
}

.modal-comment:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--modal-comment-placeholder);
}

.modal-comment::-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--modal-comment-placeholder);
}

.modal-comment::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--modal-comment-placeholder);
}

.modal-comment:hover,
.modal-comment:focus {
  outline: none;
  border: 1px solid var(--second-links-color);
}

.agreement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100%;
  height: 24px;
  padding-left: 36px;
  margin-bottom: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.agreement-checkbox,
.agreement-label {
  cursor: pointer;
}

.icon-unchecked {
  position: absolute;
  top: 50%;
  left: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.icon-checked {
  position: absolute;
  top: 50%;
  left: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 1;
  opacity: 0;
  border-radius: 2px;
  fill: var(--just-white-color);
  background-color: var(--second-links-color);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.agreement-checkbox:checked + label svg.icon-checked {
  opacity: 1;
}

.agreement-details {
  color: var(--second-links-color);
  text-decoration: underline;
}

.modal-submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 200px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border-radius: 4px;
  border-color: transparent;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: var(--just-white-color);
  background-color: var(--second-links-color);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-submit:hover,
.modal-submit:focus {
  background-color: var(--hero-button-hover);
}/*# sourceMappingURL=main.css.map */