:root {
  --background-color: #f5f5f5;
  --header-logo-color: #000000;
  --footer-logo-color: #ffffff;
  --headlines-links-color: #212121;
  --second-links-color: #2196f3;
  --hero-button-hover: #188ce8;
  --text-main-color: #757575;
  --hero-background-color: #c4c4c4;
  --just-white-color: #ffffff;
  --team-background-color: #f5f4fa;
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
  --header-frame-color: #ececec;
  --example-frame-color: #eeeeee;
  --hero-overlay-color: #2f303a66;
  --team-media-color: #afb1b8;
  --footer-background-color: #2f303a;
  --footer-media-base: rgba(255, 255, 255, 0.1);
}

/* ---------- body ---------- */

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;

  color: var(--text-main-color);
  background-color: var(--background-color);
}

.list {
  list-style-type: none;
}

.header-logo,
.link,
.number,
.footer-logo,
.post-address {
  text-decoration: none;
}

.header,
.peculiarities,
.business,
.team-list,
.portfolio {
  background-color: var(--just-white-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

ul {
  margin: 0px;
  padding-left: 0px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

section {
  padding: 94px 0px;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0px 15px;
}

/* ---------- header ---------- */

.header {
  border-bottom: 1px solid var(--header-frame-color);
}

.header-flex {
  display: flex;
}

.header-nav,
.header-list,
.header-contacts {
  display: flex;
  align-items: center;
}

.header-contacts {
  margin-left: auto;
}

.header-logo,
.footer-logo {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: var(--header-logo-color);
}

.header-logo {
  margin-right: 93px;
}

.web {
  color: var(--second-links-color);
}

.header-list .link {
  display: block;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  padding: 32px 0px;

  color: var(--headlines-links-color);
}

.header-list .header-links + .header-links,
.header-contacts li + li {
  margin-left: 50px;
}

.header-contacts .number {
  display: inline-flex;
  align-items: center;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  padding: 32px 0px;

  color: var(--text-main-color);
}

.number > .icon {
  fill: currentColor;
  margin-right: 10px;
}

.header-list .link:hover,
.header-contacts .number:hover,
.header-list .link:focus,
.header-contacts .number:focus {
  color: var(--second-links-color);
}

.header-list .current {
  color: var(--second-links-color);
}

/* ---------- PAGE STUDIO ---------- */
/* ---------- hero ---------- */

.hero {
  text-align: center;

  margin: 0 auto;
  padding-top: 200px;
  padding-bottom: 200px;

  background-image: linear-gradient(to right, var(--hero-overlay-color), var(--hero-overlay-color)),
    url(../images/our-team.jpg);

  max-width: 1600px;
  background-size: cover;
  background-repeat: no-repeat;

  background-color: var(--hero-background-color);
}

.hero-headline {
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--just-white-color);
}

.hero-button {
  width: 216px;
  height: 50px;
  border-radius: 4px;
  border: 1px solid transparent;

  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  color: var(--just-white-color);
  background-color: var(--second-links-color);
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--hero-button-hover);
}

/* ---------- peculiarities ---------- */

.peculiarities-list {
  display: flex;
}

.peculiarities-list > li {
  width: calc((100%-90px) / 4);
}

.peculiarities-list li + li {
  margin-left: 30px;
}

.pec-list-img {
  display: flex;

  padding: 25px 0;
  margin-bottom: 30px;

  justify-content: center;

  background-color: var(--team-background-color);
}

.pec-list-headlines {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--headlines-links-color);
}

.pec-list-text {
  line-height: 1.71;
}

/* ---------- business ---------- */
/* ---------- our team ---------- */

.business {
  padding-top: 0px;
  text-align: center;
}

.business-list,
.team-list {
  display: flex;
}

.business-list li + li,
.team-list li + li,
.clients-list li + li {
  margin-left: 30px;
}

.business-list .business-list-img {
  width: calc((100%-60px) / 3);
}

.business-headline,
.team-headline {
  margin-bottom: 50px;

  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;

  color: var(--headlines-links-color);
}

.our-team,
.team-list {
  text-align: center;
  background-color: var(--team-background-color);
}

.team-list-item {
  width: calc((100%-90px) / 4);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  background-color: var(--just-white-color);
}

.team-members-description {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-member {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: var(--headlines-links-color);
}

.team-member-position {
  margin-bottom: 16px;

  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.soc-media {
  display: inline-flex;
}

.icon-team {
  fill: var(--team-media-color);
}

.soc-media-team:hover,
.soc-media-team:focus {
  background-color: var(--second-links-color);
}

.soc-media-team:hover .icon-team,
.soc-media-team:focus .icon-team {
  fill: var(--just-white-color);
}

/* ---------- clients ---------- */

.clients {
  text-align: center;
  background-color: var(--just-white-color);
}

.clients-headline {
  margin-bottom: 50px;

  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;

  color: var(--headlines-links-color);
}

.clients-list {
  display: flex;
}

.clients-list li {
  width: calc((100%-150px) / 6);
}

.clients-list-link {
  display: block;
  justify-content: center;

  padding: 16px 0;

  border: 1px solid var(--team-media-color);
  border-radius: 4px;
}

.clients-list-img {
  fill: var(--team-media-color);
}

.clients-list-link:hover,
.clients-list-link:focus {
  border: 1px solid var(--second-links-color);
}

.clients-list-link:hover .clients-list-img,
.clients-list-link:focus .clients-list-img {
  fill: var(--second-links-color);
}

/* ---------- PAGE PORTFOLIO ---------- */
/* ---------- filter ---------- */

.filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-list li + li {
  margin-left: 8px;
}

.filter-button {
  padding: 6px 22px;

  border: 1px solid transparent;
  border-radius: 4px;

  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;

  color: var(--headlines-links-color);
  background-color: var(--team-background-color);
}

.filter-button:hover,
.filter-button:focus {
  color: var(--just-white-color);
  background-color: var(--second-links-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* ---------- examples ---------- */

.examples-list {
  display: flex;
  flex-wrap: wrap;
}

.examples-list li:not(:nth-child(3n + 1)) {
  margin-left: 30px;
}

.examples-list li:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}

.examples-list .description {
  padding: 20px 0 20px 24px;
  border-right: 1px solid var(--example-frame-color);
  border-bottom: 1px solid var(--example-frame-color);
  border-left: 1px solid var(--example-frame-color);
}

.examples-description {
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--headlines-links-color);
}

.ex-list-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--text-main-color);
}

.example {
  display: block;
}

.example:hover,
.example:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

/* ---------- footer ---------- */

.footer {
  padding: 60px 0px;

  background-color: var(--footer-background-color);
}

.container.ftr {
  display: flex;
}

.footer-logo {
  display: block;
  width: 145px;
  margin-bottom: 20px;

  color: var(--just-white-color);
}

.post-address {
  font-style: normal;
  line-height: 1.71;

  color: var(--just-white-color);
}

.logo-contacts {
  display: block;
  width: 231px;
  margin-right: 70px;
}

.footer-contacts .number {
  font-style: normal;
  line-height: 1.71;

  color: var(--footer-contacts-color);
}

.footer-contacts li + li {
  margin-top: 9px;
}

.post-address:hover,
.footer-contacts .number:hover,
.post-address:focus,
.footer-contacts .number:focus {
  color: var(--second-links-color);
}

.social-media {
  padding-top: 12px;
}

.join {
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  margin-bottom: 20px;

  color: var(--just-white-color);
}

.soc-media li + li {
  margin-left: 10px;
}

.soc-media-team,
.soc-media-ftr {
  display: inline-flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;

  justify-content: center;
  align-items: center;
}

.soc-media-ftr {
  background-color: var(--footer-media-base);
}

.soc-media-ftr:hover,
.soc-media-ftr:focus {
  background-color: var(--second-links-color);
}

.icon-footer {
  fill: var(--just-white-color);
}
