.business {
  display: none;

  padding-top: 0px;
  text-align: center;

  &__note {
    position: absolute;
    display: flex;

    justify-content: center;
    align-items: center;

    left: 0;
    bottom: 0;

    height: 70px;
    width: 100%;

    background-color: $business-background-color;
  }

  &__headline {
    margin-bottom: 50px;

    @include font($fs: 36px, $fw: null, $lh: 1.17, $ls: null);

    color: $headlines-links-color;
  }

  &__img {
    position: relative;

    width: calc((100% - 60px) / 3);
  }
}

.business__list {
  display: flex;

  li + li {
    margin-left: 30px;
  }

  p {
    @include font($fs: null, $fw: 700, $lh: 1.14, $ls: null);

    text-transform: uppercase;

    color: $just-white-color;
  }
}

@media screen and (min-width: 1600px) {
  .business {
    display: block;
  }
}