
.business {
    padding-top: 0px;
    text-align: center;
  }
  
  .business-list {
    display: flex;
  }
  
  .business-list li + li {
    margin-left: 30px;
  }
  
  .business-list .business-list-img {
    position: relative;
  
    width: calc((100% - 60px) / 3);
  }
  
  .business-note {
    position: absolute;
    display: flex;
  
    justify-content: center;
    align-items: center;
  
    left: 0;
    bottom: 0;
  
    height: 70px;
    width: 100%;
  
    background-color: $business-background-color;
  }
  
  .business-list p {
    font-weight: 700;
    line-height: 16px;
  
    text-transform: uppercase;
  
    color: $just-white-color;
  }
  
  .business-headline {
    margin-bottom: 50px;
  
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
  
    color: $headlines-links-color;
  }