.clients {
  text-align: center;
  background-color: $just-white-color;

  &-headline {
    margin-bottom: 50px;

    @include font($fs: 36px, $fw: null, $lh: 1.71, $ls: null);
    
    color: $headlines-links-color;
  }
}

.clients-list {
  display: flex;

  li {
    width: calc((100% - 150px) / 6);
  }

  li + li {
    margin-left: 30px;
  }

  &-img {
    fill: $team-media-color;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.clients-list-link {
  display: flex;

  height: 92px;

  justify-content: center;
  align-items: center;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  border: 1px solid $team-media-color;
  border-radius: 4px;

  &:hover,
  &:focus {
    border: 1px solid $second-links-color;
  }

  &:hover .clients-list-img,
  &:focus .clients-list-img {
    fill: $second-links-color;
  }
}
