.feature__list {
  display: flex;

  li {
    width: calc((100% - 90px) / 4);
  }

  li + li {
    margin-left: 30px;
  }
}

.feature__img {
  display: flex;

  height: 120px;
  margin-bottom: 30px;

  justify-content: center;
  align-items: center;

  background-color: $team-background-color;
}

.feature__headlines {
  margin-bottom: 10px;

  @include font($fs: null, $fw: 700, $lh: 1.14, $ls: null);

  text-transform: uppercase;

  color: $headlines-links-color;
}
