.feature-list {
  display: flex;

  & > li {
    width: calc((100% - 90px) / 4);
  }

  li + li {
    margin-left: 30px;
  }
}

.feature-list-img {
  display: flex;

  height: 120px;
  margin-bottom: 30px;

  justify-content: center;
  align-items: center;

  background-color: $team-background-color;
}

.feature-list-headlines {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: $headlines-links-color;
}

.feature-list-text {
  line-height: 1.71;
}
