.feature__img {
  display: flex;

  height: 120px;
  margin-bottom: 30px;

  justify-content: center;
  align-items: center;

  background-color: $team-background-color;
}

.feature__headlines {
  margin-bottom: 10px;

  @include font($fs: null, $fw: 700, $lh: 1.14, $ls: null);

  text-transform: uppercase;

  color: $headlines-links-color;
}

.feature__list {
  li {
    width: 100%;
  }

  li + li {
    margin-top: 30px;
  }
}

@media screen and (min-width: 768px) {
  .feature__list {
    display: flex;
    flex-wrap: wrap;

    grid-gap: 30px;

    li {
      width: calc((100% - 30px) / 2);
    }

    li + li {
      margin-top: 0;
    }
  }
}

@media screen and (min-width: 1200px) {
  .feature__list {
    display: flex;

    grid-gap: 30px;

    li {
      width: calc((100% - 90px) / 4);
    }
  }
}
