.footer {
  padding: 60px 0px;

  background-color: $footer-background-color;

  &__container {
    display: flex;

    align-items: baseline;
  }

  &__contacts {
    display: block;
    width: 231px;
    margin-right: 70px;
  }

  &__logo {
    display: block;
    width: 145px;
    margin-bottom: 20px;

    color: $just-white-color;
  }
}

.address li + li {
  margin-top: 9px;
}

.address__post {
  font-style: normal;

  color: $just-white-color;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $second-links-color;
  }
}

.address__number {
  font-style: normal;

  color: $footer-contacts-color;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $second-links-color;
  }
}

.footer-media__join,
.subscribe__headline {
  @include font($fs: null, $fw: 700, $lh: 1.14, $ls: null);

  text-transform: uppercase;

  margin-bottom: 20px;

  color: $just-white-color;
}

.footer-media__list {
  display: inline-flex;

  li + li {
    margin-left: 10px;
  }
}

.footer-media__link {
  display: inline-flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;

  justify-content: center;
  align-items: center;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  background-color: $footer-media-base;

  &:hover,
  &:focus {
    background-color: $second-links-color;
  }
}

.footer-media__icon {
  fill: $just-white-color;
}

.subscribe {
  margin-left: auto;
  margin-right: 0;

  &__block {
    position: relative;
    display: flex;
  }

  &__label {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);

    @include font($fs: 16px, $fw: null, $lh: 1.25, $ls: null);

    color: $footer-contacts-color;
  }
}

.subscribe__email {
  width: 358px;
  height: 50px;
  margin-right: 12px;
  padding-left: 16px;

  color: $just-white-color;
  background-color: transparent;

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  &:not(:placeholder-shown) + .subscribe__label {
    opacity: 0;
  }
}

.subscribe__button {
  display: flex;
  width: 200px;
  height: 50px;

  @include font($fs: 16px, $fw: 700, $lh: 1.88, $ls: 0.06em);

  align-items: center;
  justify-content: center;

  border: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  color: $just-white-color;
  background-color: $second-links-color;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  svg {
    margin-left: 10px;
    fill: $just-white-color;
  }

  &:hover,
  &:focus {
    background-color: $hero-button-hover;
  }
}
