.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  z-index: 10;

  border-bottom: 1px solid $header-frame-color;

  &__flex {
    display: flex;
  }

  &-nav {
    display: flex;
    align-items: center;
  }

  &-links {
    position: relative;
  }
}

.header-list {
  display: flex;
  align-items: center;

  .link {
    display: block;

    @include font($fs: null, $fw: 500, $lh: 1.14, $ls: 0.02em);

    padding: 32px 0px;

    color: $headlines-links-color;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-links + .header-links {
    margin-left: 50px;
  }

  .link:hover,
  .link:focus {
    color: $second-links-color;
  }
}

.header-list .current {
  color: $second-links-color;

  &::after {
    content: '';

    display: block;
    position: absolute;

    bottom: 0;

    width: 100%;
    height: 4px;

    border-radius: 2px;

    background-color: $second-links-color;
  }
}

.header-contacts {
  display: flex;
  align-items: center;
  margin-left: auto;

  li + li {
    margin-left: 50px;
  }

  .icon {
    fill: currentColor;
    margin-right: 10px;
  }
}

.header-contacts .number {
  display: inline-flex;
  align-items: center;

  @include font($fs: null, $fw: 500, $lh: 1.14, $ls: 0.02em);
  
  padding: 32px 0px;

  color: $text-main-color;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $second-links-color;
  }
}

.header-logo {
  margin-right: 93px;

  font-family: 'Raleway', sans-serif;
  font-style: normal;

  @include font($fs: 26px, $fw: 700, $lh: 1.19, $ls: null);
  
  color: $header-logo-color;

  .web {
    color: $second-links-color;
  }
}
