.hero {
  text-align: center;

  margin: 0 auto;
  padding-top: 200px;
  padding-bottom: 200px;

  background-image: linear-gradient(to right, $hero-overlay-color, $hero-overlay-color),
    url(../images/our-team.jpg);

  max-width: 1600px;
  background-size: cover;
  background-repeat: no-repeat;

  background-color: $hero-background-color;

  &-headline {
    margin-bottom: 30px;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: $just-white-color;
  }
}

.hero-button {
  width: 216px;
  height: 50px;
  border-radius: 4px;
  border: 1px solid transparent;

  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  color: $just-white-color;
  background-color: $second-links-color;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: $hero-button-hover;
  }
}
