.mobile-menu {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  
  overflow: auto;

  padding: 48px 40px;

  background-color: $just-white-color;

  @media screen and (min-width: 768px) {
    display: none;
  }

  &.is-open {
    display: block;
  }

  &__list {
    li + li {
      margin-top: 32px;
    }
  }

  &__tel {
    @include font($fs: 34px, $fw: 500, $lh: 1.18, $ls: 0.02em);

    color: $second-links-color;
  }

  &__mail {
    @include font($fs: 24px, $fw: 500, $lh: 1.17, $ls: 0.02em);

    color: $text-main-color;
  }

  &__contacts {
    margin-top: 306px;

    li + li {
      margin-top: 32px;
    }
  }
}

.mobile-menu__link {
  @include font($fs: 40px, $fw: 500, $lh: 1.18, $ls: 0.02em);
  color: $headlines-links-color;

  &:hover,
  &:focus {
    color: $second-links-color;
  }
}

.mobile-menu__media-list {
  display: flex;

  margin-top: 64px;

  .mobile-menu__media-link {
    position: relative;

    @include font($fs: 18px, $fw: 500, $lh: 1.22, $ls: 0.02em);

    font-family: inherit;

    color: $second-links-color;
  }

  li + li {
    margin-left: 20px;
  }

  .mobile-menu__media-link--separated::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: -10px;
    width: 0;
    height: 22px;

    border: 1px solid $modal-input-color;
  }
}
