.team {
  text-align: center;
  background-color: $team-background-color;

  &__headline {
    margin-bottom: 50px;

    @include font($fs: 36px, $fw: null, $lh: 1.17, $ls: null);

    color: $headlines-links-color;
  }

  &__item {
    width: calc((100% - 90px) / 4);

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    background-color: $just-white-color;
  }

  &__member {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  &__name {
    margin-bottom: 10px;

    @include font($fs: 16px, $fw: 500, $lh: 1.19, $ls: null);

    color: $headlines-links-color;
  }

  &__rank {
    margin-bottom: 16px;

    @include font($fs: 16px, $fw: null, $lh: 1.19, $ls: null);
  }
}

.team__list {
  display: flex;
  text-align: center;

  background-color: $team-background-color;

  li + li {
    margin-left: 30px;
  }
}

.media {
  display: inline-flex;

  li + li {
    margin-left: 10px;
  }
}

.media__link {
  display: inline-flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;

  justify-content: center;
  align-items: center;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: $second-links-color;
  }
}

.media__icon {
  fill: $team-media-color;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .media__link:hover &,
  .media__link:focus & {
    fill: $just-white-color;
  }
}
