
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

ul {
  margin: 0px;
  padding-left: 0px;
}

.list {
  list-style-type: none;
}

.header-logo,
.link,
.number,
.footer-logo,
.post-address {
  text-decoration: none;
}