:root {
    --background-color: #f5f5f5;
    --header-logo-color: #000000;
    --footer-logo-color: #ffffff;
    --headlines-links-color: #212121;
    --second-links-color: #2196f3;
    --hero-button-hover: #188ce8;
    --text-main-color: #757575;
    --hero-background-color: #c4c4c4;
    --just-white-color: #ffffff;
    --team-background-color: #f5f4fa;
    --footer-contacts-color: rgba(255, 255, 255, 0.6);
    --header-frame-color: #ececec;
    --example-frame-color: #eeeeee;
    --hero-overlay-color: #2f303a66;
    --team-media-color: #afb1b8;
    --footer-background-color: #2f303a;
    --footer-media-base: rgba(255, 255, 255, 0.1);
    --portfolio-example-overlay: rgba(33, 150, 243, 0.9);
    --business-background-color: rgba(47, 48, 58, 0.8);
    --backdrop-background-color: rgba(0, 0, 0, 0.2);
    --modal-bottom-color: rgba(0, 0, 0, 0.1);
    --modal-input-color: rgba(33, 33, 33, 0.2);
    --modal-comment-placeholder: rgba(117, 117, 117, 0.5);
  }