.backdrop {
  position: fixed;
  z-index: 15;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  visibility: visible;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

  background-color: $backdrop-background-color;

  overflow-y: scroll;

  &.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
  }
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%) scale(1);

  width: 450px;
  height: 609px;

  @media screen and (min-width: 1200px) {
    width: 528px;
    height: 581px;
  }

  padding: 40px;

  border-radius: 4px;

  opacity: 1;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

  background-color: $just-white-color;

  &__headline {
    margin-bottom: 12px;

    text-align: center;

    @include font($fs: 20px, $fw: 700, $lh: 1.15, $ls: null);

    color: $headlines-links-color;
  }

  &__label {
    display: block;
    margin-bottom: 4px;

    @include font($fs: 12px, $fw: null, $lh: 1.17, $ls: 00.01em);
  }

  &__button {
    display: flex;

    position: absolute;
    top: 8px;
    right: 8px;

    justify-content: center;
    align-items: center;

    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid $modal-bottom-color;

    background-color: $just-white-color;
  }

  .backdrop.is-hidden & {
    transform: translate(-50%, -50%) scale(0.3);
    opacity: 0;
    box-shadow: none;
  }

  &__agreement {
    display: flex;
    position: relative;
    width: 100%;
    height: 24px;

    padding-left: 36px;
    margin-bottom: 30px;

    align-items: center;
  }

  &__details {
    color: $second-links-color;
    text-decoration: underline;
  }

  &__checkbox,
  &__label {
    cursor: pointer;
  }
}

.modal__close {
  fill: $header-logo-color;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .modal__button:hover &,
  .modal__button:focus & {
    fill: $second-links-color;
  }
}

.modal__input {
  position: relative;

  margin-bottom: 10px;

  svg {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    fill: $headlines-links-color;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.modal__contacts {
  width: 100%;
  height: 40px;

  padding: 0 0 0 42px;

  font-size: 16px;

  border: 1px solid $modal-input-color;
  border-radius: 4px;

  cursor: pointer;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    outline: none;
    border: 1px solid $second-links-color;
  }

  &:hover + svg,
  &:focus + svg {
    fill: $second-links-color;
  }
}

.modal__comment {
  width: 100%;
  height: 120px;
  resize: none;

  padding: 12px 16px;
  margin-bottom: 20px;

  @include font($fs: 12px, $fw: null, $lh: null, $ls: null);

  border: 1px solid $modal-input-color;
  border-radius: 4px;

  cursor: pointer;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &::placeholder {
    @include font($fs: 12px, $fw: null, $lh: 1.17, $ls: 0.01em);

    color: $modal-comment-placeholder;
  }

  &:hover,
  &:focus {
    outline: none;
    border: 1px solid $second-links-color;
  }
}

.modal__icon--unchecked {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
}

.modal__icon--checked {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);

  z-index: 1;

  opacity: 0;
  border-radius: 2px;

  fill: $just-white-color;
  background-color: $second-links-color;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .modal__checkbox:checked + label & {
    opacity: 1;
  }
}

.modal__submit {
  display: flex;

  width: 200px;
  height: 50px;

  margin-left: auto;
  margin-right: auto;

  justify-content: center;
  align-items: center;

  @include font($fs: 16px, $fw: 700, $lh: 1.88, $ls: 00.06em);

  border-radius: 4px;
  border-color: transparent;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: $just-white-color;
  background-color: $second-links-color;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: $hero-button-hover;
  }
}
